<!-- updated form -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
           <link rel="stylesheet" href="/stylesheets/style.css" />

    <title></title>
  </head>

  <body>
<!-- updated form -->
<%- include('../partials/navbar') %>
<form action="/posts/<%=post._id%>?_method=PUT" method="POST">
  <title>Edit <%= post.title %></title>
<input type="text" name="title" value="<%= post.title %>" />
<textarea name="content" id="content"><%= post.content %></textarea>
<input type="text" name="image" id="image" value="<%= post.image %>" />

  <label for="isPosted">Is it posted?</label>
<input type="checkbox" name="isPosted" <% if (post.isPosted) { %>checked<% } %> >

 

  <button type="submit">Update Post</button>
</form>
  </body>

</html>