<!-- views/posts/show.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
           <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>Show Posts</title>
  </head>

<body>
  <%- include('../partials/navbar') %>
  <div class="welcome-text">
  <h1><%= post.name %></h1>
  <div class="image">
   <img src="<%= post.image %>" alt="Post image" />
  <p><%= post.content %></p>
  </div>
  <!-- Conditional rendering based on post readiness -->
  <div class="blink_me">
  <% if (post.isPosted) { %>
    <p>This post is live!</p>
    </div>
    <div class="not_live">
  <% } else { %>
    <p>This post is in draft form.</p>
  <% } %>
  </div>
<!-- delete -->
  <form action="/posts/<%=post._id%>?_method=DELETE" method="POST">
  <button type="submit">Delete <%= post.title %></button>
</form>

<a href="/posts/<%= post._id %>/edit">Edit <%= post.name %></a>


  <a href="/posts/">Back to Posts</a>
</div>
</body>
</html>